<section class="max-w-7xl mx-auto h-[400px] md:h-[480px] lg:h-[563px] relative">
  <div class="bg-[url('/exportacion/export_img.png')] bg-no-repeat bg-cover bg-center h-full w-full md:w-[500px] lg:w-[805px] absolute left-0 bottom-0"></div>
  <div class="bg-[url('/exportacion/shadow_2.png')] bg-no-repeat bg-cover bg-center h-[200px] md:h-[250px] lg:h-[332px] w-full md:w-[700px] lg:w-[1105px] absolute right-0 top-0"></div>
  <div class="flex justify-center md:justify-end z-20 relative items-center h-full px-4 md:px-0">
    <section class="bg-[#F1F1F1] shadow-lg w-full md:w-[500px] lg:w-[710px] h-auto md:h-[450px] lg:h-[459px] px-6 md:px-8 lg:px-12 py-8 md:py-10">
      <h2 class="text-[#BF272D] text-[28px] md:text-[35px] lg:text-[42px] font-bold leading-tight md:leading-12 mb-4 md:mb-6">
        Nos destacamos por <br /> ofrecer precios competitivos,
      </h2>
      <p class="text-[#373F52] text-[18px] md:text-[20px] lg:text-[25px] font-normal leading-7 md:leading-8">
        cumplimiento en tiempos de entrega y soluciones logísticas integrales, cumpliendo con los estándares que exigen traders y usuarios industriales.
      </p>
      <p class="text-[#373F52] text-[18px] md:text-[20px] lg:text-[25px] font-normal leading-7 md:leading-8 mt-2">
        Fortalecemos cada día nuestras alianzas globales, contribuyendo a una cadena de suministro sostenible y responsable.
      </p>
    </section>
  </div>
</section>