<section class="max-w-7xl mx-auto h-auto md:h-[550px] lg:h-[870px] relative bg-[#373F52] my-8 md:my-12 lg:my-16 pb-4">
  <div class="flex flex-col pt-6 md:pt-8 lg:pt-10 ">
    <div class="flex flex-row gap-x-4 mb-1 md:mb-8">
      <img src="/exportacion/logo_cortado_mapa_mundi.png" alt="mapa mundi" class="w-[35px] h-[70px] md:w-[47px] md:h-[93px] mb-4 md:mb-0">
      <div>
        <h2 class="text-white text-[24px] md:text-[35px] lg:text-[42px] font-normal leading-tight md:leading-12">
          Participamos en el mercado
        </h2>
        <h2 class="text-white text-[24px] md:text-[35px] lg:text-[42px] font-bold leading-tight md:leading-12 mb-4 md:mb-6">
          Asiático, Europeo y Americano
        </h2>
      </div>
    </div>
    <div class="bg-[url('/exportacion/mapa_mundi.png')] bg-no-repeat bg-contain bg-center h-[200px] md:h-[300px] lg:h-[546px] w-full md:w-[700px] lg:w-[1032px] self-center"></div>
  </div>
</section>