<section class="max-w-7xl mx-auto min-h-[400px] md:min-h-[600px] lg:min-h-[650px] w-full flex items-center relative mt-16">
  <div class="bg-[url('/nosotros/about_back.png')] bg-no-repeat bg-cover bg-center h-[400px] md:h-[500px] lg:h-[503px] w-full flex justify-center md:justify-end">
    <div class="flex justify-center items-center px-4 md:px-6 lg:pe-10 w-full md:w-auto">
      <section class="bg-[#E0E5E8] w-full max-w-[600px] min-h-[400px] md:min-h-[500px] lg:min-h-[611px] px-4 md:px-6 lg:px-10 pt-8 md:pt-10 lg:pt-14 relative">
        <div class="bg-[#BF272D] w-[40px] md:w-[50px] lg:w-[60px] h-[45px] md:h-[58px] lg:h-[68px] absolute -top-4 md:-top-5 lg:-top-6 left-6 md:left-8 lg:left-10"></div>
        <h2 class="text-[#BF272D] text-[32px] md:text-[40px] lg:text-[49px] leading-tight md:leading-snug lg:leading-16">
          Sobre <span class="font-bold">Nosotros</span>
        </h2>
        <p class="text-[#373F52] text-[22px] md:text-[28px] lg:text-[33px] leading-relaxed md:leading-10 mb-3 mt-4 md:mt-6">
          En <span class="font-bold">Metal Cooper</span> nos <br class="hidden md:block" /><span class="italic">especializamos en la <span class="text-[#BF272D] font-bold">distribución, adquisición y exportación</span> de metales no ferrosos reciclados</span>
        </p>
        <p class="text-[#373F52] text-[16px] md:text-[18px] lg:text-[22px] leading-relaxed md:leading-8 mt-4 md:mt-6">
          Ofrecemos soluciones eﬁcientes y responsables para el mercado nacional e internacional. Nuestra experiencia, equipo capacitado y compromiso con la calidad nos posicionan como líderes en el sector.
        </p>
      </section>
    </div>
  </div>
</section>