<section class="max-w-7xl mx-auto h-auto w-full">
  <div class="bg-[url('/nosotros/our_valores_back.png')] bg-no-repeat bg-cover bg-center h-[532px] w-full flex flex-col justify-center items-start">
    <div class="flex flex-col items-center justify-center">
      <h3 class="text-white text-[32px] md:text-[42px] lg:text-[64px] mb-1 ps-6 md:ps-8 lg:ps-24">Nuestros</h3>
      <h2 class="text-white text-[36px] md:text-[62px] lg:text-[83px] font-bold ps-6 md:ps-8 lg:ps-24 leading-9 md:leading-16">Valores</h2>
      <span class="block w-[262px] h-[6px] bg-[#BF272D] mt-6"></span>
    </div>
  </div>
  <div class="flex">

  </div>
</section>