<section class="max-w-7xl mx-auto px-4 md:px-6 lg:px-2 mt-20 h-auto md:h-[546px] mb-10 md:mb-20">
  <div class="flex flex-col items-center justify-center bg-[url('/section_export.png')] bg-no-repeat bg-cover bg-center h-[300px] md:h-[410px]">
    <div class="flex items-center justify-center gap-x-2 md:gap-x-4">
      <img src="/logo.png" alt="logo" class="w-[50px] h-[50px] md:w-[72px] md:h-[72px]">
      <h1 class="text-white text-[36px] md:text-[48px] lg:text-[62px] font-bold">EXPORTAMOS</h1>
    </div>
    <p class="text-white text-[28px] md:text-[36px] lg:text-[44px] text-center leading-tight mb-4 ms-0 md:ms-32 lg:ms-64">
      Metales no ferrosos
    </p>
  </div>
  <div class="flex flex-col items-center justify-center h-auto md:h-[176px] bg-[#373F52] py-8 md:py-0">
    <p class="text-white text-[18px] md:text-[20px] lg:text-[24px] text-center leading-relaxed mb-6 md:mb-4 px-4 md:px-0">
      Contando con una sólida red de clientes internacionales, a <br class="hidden md:block" />
      quienes abastecemos de manera conﬁable y eﬁciente.
    </p>
    <button class="bg-[#BF272D] hover:bg-[#BF272D]/80 transition-all duration-300 text-white text-[18px] md:text-[20px] lg:text-[24px] font-bold px-4 py-2 cursor-pointer">
      Ver más
    </button>
  </div>
</section>