<section class="max-w-7xl mx-auto px-4 mt-10 h-auto md:h-[950px] mb-10 relative">
  <div class="absolute right-0 bottom-0 w-full md:w-[500px] lg:w-[900px] h-full md:h-[945px] bg-[#E0E5E8]"></div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center h-full">
    <div class="col-span-1 md:col-span-2 bg-[#373F52] h-auto md:h-[841px] max-w-full md:max-w-[752px] px-6 md:px-12 py-8 md:py-16 z-10 relative">
      <h3 class="text-white text-[28px] md:text-[35px] font-bold">ENVÍANOS UN MENSAJE</h3>
      
      <form action="" class="my-4">
        <div class="flex flex-col gap-y-2 mb-4">
          <label for="name" class="text-white text-[18px] md:text-[21px]">Nombre completo <span class="text-red-500">*</span></label>
          <input type="text" id="name" name="name" class="w-full p-2 bg-white border border-white h-[45px] md:h-[52px]" />
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
          <div class="flex flex-col gap-y-2">
            <label for="company" class="text-white text-[18px] md:text-[21px]">Empresa <span class="text-red-500">*</span></label>
            <input type="text" id="company" name="company" class="w-full p-2 bg-white border border-white h-[45px] md:h-[52px]" />
          </div>
          <div class="flex flex-col gap-y-2">
            <label for="email" class="text-white text-[18px] md:text-[21px]">Correo electrónico <span class="text-red-500">*</span></label>
            <input type="email" id="email" name="email" class="w-full p-2 bg-white border border-white h-[45px] md:h-[52px]" />
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
          <div class="flex flex-col gap-y-2">
            <label for="phone" class="text-white text-[18px] md:text-[21px]">Número Telefónico <span class="text-red-500">*</span></label>
            <input type="tel" id="phone" name="phone" class="w-full p-2 bg-white border border-white h-[45px] md:h-[52px]" />
          </div>
          <div class="flex flex-col gap-y-2">
            <label for="asunto" class="text-white text-[18px] md:text-[21px]">Asunto <span class="text-red-500">*</span></label>
            <input type="text" id="asunto" name="asunto" class="w-full p-2 bg-white border border-white h-[45px] md:h-[52px]" />
          </div>
        </div>
        <div class="flex flex-col gap-y-2 mb-4">
          <label for="message" class="text-white text-[18px] md:text-[21px]">Mensaje <span class="text-red-500">*</span></label>
          <textarea id="message" name="message" class="w-full p-2 bg-white border border-white" rows="4 md:rows-5"></textarea>
        </div>
        <div class="flex justify-center">
          <button type="submit" class="bg-[#BF272D] text-[18px] md:text-[22px] text-white font-bold px-4 md:px-6 py-2 mt-4 hover:bg-[#BF272D]/80 transition-all duration-300">Enviar mensaje</button>
        </div>
      </form>
    </div>
    <div class="col-span-1 mt-8 md:mt-0">
      <section class="flex justify-center items-center h-full z-10 relative">
        <ul class="flex flex-col gap-y-4 w-full md:w-auto">
          <li>
            <div class="bg-white shadow-lg w-full md:max-w-[443px] h-auto md:h-[136px] px-4 py-4 md:py-0 flex gap-x-2 items-center">
              <div class="w-[50px] h-[50px] md:w-[68px] md:h-[68px] bg-transparent border-3 border-[#CBCBCB] flex justify-center items-center shrink-0">
                <img src="/contacto/point.png" alt="icon" class="w-[20px] h-[30px] md:w-[29px] md:h-[42px]">
              </div>
              <p class="text-[#373F52] text-[14px] md:text-[16px] font-normal">
                Anillo Perif. 3332, Piso 12, Oﬁcina 1202, Jardines del Pedregal, Álvaro Obregón 01900 Ciudad de México, CDMX
              </p>
            </div>
          </li>
          <li>
            <div class="bg-white shadow-lg w-full md:max-w-[443px] h-auto md:h-[136px] px-4 py-4 md:py-0 flex gap-x-2 items-center">
              <div class="w-[50px] h-[50px] md:w-[68px] md:h-[68px] bg-transparent border-3 border-[#CBCBCB] flex justify-center items-center shrink-0">
                <img src="/contacto/mail.png" alt="icon" class="w-[28px] h-[18px] md:w-[39px] md:h-[24px]">
              </div>
              <a href="mailto:administracion@metalcooper.com" class="text-[#373F52] text-[14px] md:text-[16px] font-normal">
                administracion@metalcooper.com
              </a>
            </div>
          </li>
          <li>
            <div class="bg-white shadow-lg w-full md:max-w-[443px] h-auto md:h-[136px] px-4 py-4 md:py-0 flex gap-x-2 items-center">
              <div class="w-[50px] h-[50px] md:w-[68px] md:h-[68px] bg-transparent border-3 border-[#CBCBCB] flex justify-center items-center shrink-0">
                <img src="/contacto/phone.png" alt="icon" class="w-[28px] h-[28px] md:w-[38px] md:h-[38px]">
              </div>
              <a href="tel:+525598036298" class="text-[#373F52] text-[14px] md:text-[16px] font-normal">
                +52 55 98 03 62 98
              </a>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>