<section class="max-w-7xl mx-auto min-h-[300px] md:min-h-[400px] lg:min-h-[509px] w-full my-6 md:my-8 lg:my-10 bg-[#E0E5E8]">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="w-full h-full justify-center items-center hidden md:flex">
      <img src="./soluciones/best_option_front.png" alt="best option" class="h-auto w-full max-h-[300px] md:max-h-[400px] lg:max-h-[809px] object-contain">
    </div>
    <div class="col-span-1 md:col-span-1 lg:col-span-2 flex flex-col px-4 md:px-6 lg:px-8 pt-8 md:pt-12 lg:pt-20 pb-6 md:pb-8 lg:pb-10">
      <h4 class="text-[#373F52] text-[28px] md:text-[36px] lg:text-[53px]">
        ¡Somos tu
      </h4>
      <h2 class="text-[#BF272D] text-[28px] md:text-[36px] lg:text-[76px] font-bold leading-tight md:leading-snug lg:leading-16">
        mejor opción!
      </h2>

      <section class="flex justify-center items-center bg-[#373F52] w-full md:w-[80%] lg:w-[925px] xl:w-[1030px] px-4 md:px-6 lg:px-8 py-6 md:py-8 lg:py-10 mt-8 md:mt-10 lg:mt-14 mx-auto md:mx-0 lg:-ms-52">
        <p class="text-white text-[14px] md:text-[18px] lg:text-[37px] leading-relaxed md:leading-relaxed lg:leading-12">
          Ofrecemos precios altamente competitivos y una gestión eﬁciente del material, respaldada por nuestra experiencia en el sector y compromiso con la sostenibilidad.
        </p>
      </section>
    </div>
  </div>
</section>