<section class="max-w-7xl mx-auto min-h-[300px] md:min-h-[400px] lg:min-h-[476px] w-full grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 lg:gap-2 pt-6 md:pt-8 lg:pt-10 px-4 md:px-8 lg:px-12">
  <div class="bg-[#C0272D] flex flex-col justify-center w-full max-w-[574px] min-h-[300px] md:min-h-[350px] lg:min-h-[371px] shadow-[8px_8px_6px_0px_rgba(0,_0,_0,_0.1)] px-4 md:px-6 lg:px-6 py-6 md:py-8 lg:py-10 mx-auto">
    <p class="text-white text-[18px] md:text-[22px] lg:text-[26px] leading-relaxed md:leading-8 mb-4 md:mb-6">
      Gracias a nuestra infraestructura y red operativa, facilitamos el comercio de metales no ferrosos dentro del territorio nacional, promoviendo la economía circular y el aprovechamiento responsable de los recursos.
    </p>
    <img src="/soluciones/01.png" alt="points" class="w-[80px] md:w-[90px] lg:w-[106px] h-auto object-contain">
  </div>
  <div class="bg-[#E5E5E5] flex flex-col justify-center w-full max-w-[574px] min-h-[300px] md:min-h-[350px] lg:min-h-[371px] shadow-[8px_8px_6px_0px_rgba(0,_0,_0,_0.1)] px-4 md:px-6 lg:px-6 py-6 md:py-8 lg:py-10 relative mx-auto">
    <div class="bg-[#373F52] w-full h-[6px] md:h-[8px] absolute bottom-0 left-0"></div>
    <p class="text-[#373F52] text-[18px] md:text-[22px] lg:text-[26px] leading-relaxed md:leading-8 mb-4 md:mb-6">
      En cada operación, garantizamos transparencia, cumplimiento y calidad, fortaleciendo relaciones comerciales duraderas con quienes comparten nuestra visión de una industria más eﬁciente y sustentable.
    </p>
    <img src="/soluciones/02.png" alt="points" class="w-[80px] md:w-[90px] lg:w-[106px] h-auto object-contain">
  </div>
</section>