<section class="max-w-7xl mx-auto h-full px-4 md:px-6 lg:px-2 relative">
  <div class="absolute right-0 top-30 w-[800px] h-full bg-[url('/galeria/logo_coratdo.png')] bg-no-repeat bg-contain bg-bottom lg:bg-right"></div>
  <div class="w-full flex gap-4 flex-wrap mt-12 mb-5 justify-center z-10 relative">
    <img src="/galeria/image-1.png" alt="Gallery" class="w-[432px] h-[576px] ">
    <img src="/galeria/image-2.png" alt="Gallery" class="w-[507px] h-[391px] ">
    <img src="/galeria/image-3.png" alt="Gallery" class="w-[432px] h-[328px] ">
    <img src="/galeria/image-4.png" alt="Gallery" class="w-[507px] h-[511px] -mt-46">
    <img src="/galeria/image-5.png" alt="Gallery" class="w-[476px] h-[393px] ">
    <img src="/galeria/image-6.png" alt="Gallery" class="w-[465px] h-[393px] ">
  </div>
  <div class="w-full flex justify-center mb-16 z-10 relative">
    <a href="/gallery" class="bg-[#BF272D] text-white text-[28px] md:text-[32px] lg:text-[40px] font-bold px-6 py-2 mt-4 hover:bg-[#BF272D]/80 transition-all duration-300">
      Ver más
    </a>
  </div>
</section>