
<section class="max-w-7xl mx-auto h-[563px] px-4 md:px-6 lg:px-2 relative">
  <div class="absolute left-0 top-0 w-[673px] h-full bg-[#373F52]"></div>
  <div class="flex items-center justify-center h-full w-full z-10 relative">
    <div class="mx-12 bg-[url('/galeria/home.png')] bg-no-repeat bg-cover bg-center h-[410px] w-full">
      <div class="flex gap-4 items-center justify-center h-full w-full">
        <div class="absolute right-35 top-55 w-[400px] h-[123px] bg-[#373F52]"></div>
        <img src="/galeria/logo_white.png" alt="Logo" class="w-[93px] h-[93px]">
        <h1 class="text-white text-[80px] font-bold z-10 relative">
          Galería
        </h1>
    </div>
  </div>
</section>